<?xml version="1.0"?>
<PluginManifest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <PackageId>RecklessBoon.MacroDeck.PhilipsHuePlugin</PackageId>
    <Author>RecklessBoon</Author>
    <MainFile>Philips Hue Plugin.dll</MainFile>
</PluginManifest>